.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image2 {
    width: 30%;
  }

  &__information {
    display: flex;
  }

  &__ingredients {
    width: 50%;

    &-list {
      list-style-type: none;
    }
  }

  &__instructions {
    width: 50%;

    &-list {
      text-align: left;
    }
  }
}
